/*.navbar a:hover {
	background-color:blue;
	transition: all .3s;
}*/

body {
	margin-top: 160px;
	font-family: 'Roboto', sans-serif;
}
a:link{
color: black;
}
.text{
	font-family: 'BioRhyme Expanded', serif;
	font-size: 35px;
}
.borde {
	border-top: #2471A3 15px solid;

}

.navbar {
	margin:0px;
	padding: 0px;
}

.nav-item {
	 	transition: background-color .5s;

}
.nav-item:hover {
  background-color: #CA6F1E;
}

.alineado_item{
	letter-spacing: 9px;
	color:#2471A3   ;
}

.btn-outline-secondary{
	border:none;
	transition: background-color .3s;

}

.btn-outline-secondary:hover {

  background-color: #CA6F1E;
}

.bloque_item{
	background-color: #2471A3  ;
}

.img-thum{
	height: 30vh;
}

.img{
	height: 70vh;
}

.btn-outline-primary{
	border:none;
	transition: background-color .3s;
}

.btn-outline-primary:hover{
	background-color:#34495E;
	

}

.bg-dark {
	background-color: rgb(0.0.0.0);
	opacity:0.6; 
	border-radius: 10px;
}

.bordes{
	border-top: solid 1px #CA6F1E;
	border-bottom: solid 1px #CA6F1E;
}


/** nosotros **/

.margin{
	margin-top: 250px;
}

.color_text {
	color:#CA6F1E;
}

.color_naranja{
	background-color: #CA6F1E;
}

.color_container{
	background-color: black;
	opacity:0.9; 
	border-radius: 0px;


}

