/**General**/

@font-face {
font-family: Rubrik;
src: url(fonts/Rubrik.otf);
}

body {
	margin-top: 140px;
	
}

h1,h2,h3,h4,h5{
	font-family: 'Rubrik', cursive;
}
h2,h5 {
	color:#58A4B0;
}

h5:hover{
	color:#A574A1;
	cursor: pointer;
	transition: color .3s;
	transition: pointer .3s;
}
h2:hover{
	color:#A574A1;
	cursor: pointer;
	transition: color .3s;
	transition: pointer .3s;
}
p{
	font-family: 'Montserrat', sans-serif;
}

a:link{
color: black;
font-size: 18px;
text-decoration: none;
}

.color_parrafo{
	color:#8e6741;
}

/*navbar y banner*/

.banner {
	background-color: #F6FBFC;
}

.border_separacion_top {
	border-top: black 2px solid;
	opacity: 0.5;
}

.navbar {
	margin:0px;
	padding: 0px;
}

.bloque_banner{
	background-color: #2471A3  ;
}

.bg-dark{
	opacity: 0.7;
}

.img{
	height: 80vh;
}

.boton {
	background-color: #2471A3;
}
.boton:hover {
	background-color: #A574A1;
	transition: color .3s;
}

/*Cards*/

.fondo{
	background-color: rgb(234, 246, 249)
}

.tamaño-img{
	width: 318px;
	height: 155px;
}


/*Footer*/

.fondo_footer{
	background-image: url(images/fondo8.jpg);
	background-size: 100% ;
}
.bordes{
	border-top: solid 1px #58A4B0;
	border-bottom: solid 1px #58A4B0;
}

/*especificos*/

/** nosotros **/

.margin{
	margin-top: 180px;
}
.color_text {
	color:#58A4B0;;
}
.color_celeste{
	background-color: #58A4B0;
}





